{% extends 'base_temp.html' %}
{% block style-temp %}"https://bootswatch.com/4/yeti/bootstrap.min.css"{% endblock %}

{% block bg-nav %}bg-dark{% endblock %}

{% block nav-links %}
<li class="nav-item {% block acthome %}{% endblock acthome %}">
	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item {% block actposts %}{% endblock actposts %}">
	<a class="nav-link" href="/polls">Polls</a>
</li>
<li class="nav-item {% block acttags %}{% endblock acttags %}">
	<a class="nav-link" href="#">Link</a>
</li>
{% endblock nav-links %}