{% extends "base_temp.html" %}

{% block admin-panel %}
{% comment %} <a href="#" class="badge badge-warning">Create</a> {% endcomment %}
<div class="dropdown dropleft">
  <a class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="z-index: 1001; position: absolute;">
    <a class="dropdown-item" href="{% url 'tag_create_url' %}">Tag</a>
    <a class="dropdown-item" href="{% url 'post_create_url' %}">Post</a>
  </div>
</div>

<a href="{{ admin_o.get_updated_url }}" class="btn btn-warning btn-sm edit" style="{% if detail %}display: block;{% endif %}">Update</a>
<a href="{{ admin_o.get_deleted_url }}" class="btn btn-warning btn-sm del" style="{% if detail %}display: block;{% endif %}">Delete</a>

{% endblock admin-panel %}

{% block content %}
{% if page_obj.has_other_pages %}
  {% include 'blog/includes/pagination.html' %}
{% endif %}
{% endblock content %}